/*DELON ARTHUR*/
#body {
    -fx-background-image: url("../images/UI/DifficultyBackground.png");
    -fx-background-size: cover;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: none;
    -fx-border-width: 2;
    -fx-font-size: 24;
    -fx-font-family: "JMHCthulhumbus-Regular";
}

.button:hover {
    -fx-background-color: rgba(122, 122, 122, .7);
}

.label {
    -fx-font-family: "JMHCthulhumbus-Regular";
    -fx-font-size: 25;
    -fx-text-fill: #8d7762;
}